# Linear regression implementations

In [1]:
# set up working catalog
import sys
from pathlib import Path
project_path = str(Path().cwd().parent.resolve())
if project_path not in sys.path:
    sys.path.append(project_path)

# imports
from common.utils import *
from common.custom_linear_regression import *

import pandas as pd

from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
RANDOM_STATES = [16, 6, 316, 50, 24]

data = get_data(only_numeric=True)

X = data.drop("Admission grade", axis=1)
# X = StandardScaler().fit_transform(X)       # standardize
y = data["Admission grade"]

X_train_val, X_test, y_train_val, y_test = train_test_split(X, y, test_size=0.2)

preprocessor = ColumnTransformer(
    transformers=[
        ("num", StandardScaler(), X.select_dtypes(include=["int64", "float64"]).columns.tolist())
    ]
)

data.head()

,Previous qualification (grade),Admission grade,Age at enrollment,Curricular units 1st sem (credited),Curricular units 1st sem (enrolled),Curricular units 1st sem (evaluations),Curricular units 1st sem (approved),Curricular units 1st sem (grade),Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP
0,122.0,127.3,20,0,0,0,0,0.000000,0,0,0,0,0,0.000000,0,10.8,1.4,1.74
1,160.0,142.5,19,0,6,6,6,14.000000,0,0,6,6,6,13.666667,0,13.9,-0.3,0.79
2,122.0,124.8,19,0,6,0,0,0.000000,0,0,6,0,0,0.000000,0,10.8,1.4,1.74
3,122.0,119.6,20,0,6,8,6,13.428571,0,0,6,10,5,12.400000,0,9.4,-0.8,-3.12
4,100.0,141.5,45,0,6,9,5,12.333333,0,0,6,6,6,13.000000,0,13.9,-0.3,0.79

In [3]:
get_custom_dataframe(LinearRegressionGradientDescent(epochs=600, batch_size=256), preprocessor, mean_squared_error, X_train_val,
                        y_train_val, X_test, y_test, random_states=RANDOM_STATES)

                     0           1           2           3           4
Train       136.524050  135.722974  136.394042  137.292635  134.743695
Validation  128.944221  131.976396  130.146096  126.549070  136.140697
Test        131.424286  130.676282  130.133185  130.719055  130.533615

In [4]:
get_custom_dataframe(LinearRegressionClosedForm(), preprocessor, mean_squared_error, X_train_val,
                        y_train_val, X_test, y_test, random_states=RANDOM_STATES)

                     0           1           2           3           4
Train       136.414037  135.552105  136.214430  137.091378  134.593351
Validation  128.777797  131.904686  130.444778  126.223583  135.926771
Test        131.231059  130.618983  130.688655  130.807984  130.386163

In [5]:
get_custom_dataframe(LinearRegression(), preprocessor, mean_squared_error, X_train_val,
                        y_train_val, X_test, y_test, random_states=RANDOM_STATES)

                     0           1           2           3           4
Train       136.414037  135.552105  136.214430  137.091378  134.593351
Validation  128.777797  131.904686  130.444778  126.223583  135.926771
Test        131.231059  130.618983  130.688655  130.807984  130.386163

# Conclusions
1) The results are basically the same for sklearn and closed form solution implementation
2) Gradient descent gives nearly the same results